.about-header{
	min-height: calc(100vh - 152px);
	background-image: url(/images/haader_about.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}
.about-header__container{
	padding: 60px 50px;
	display: flex;
	align-items: flex-end;
  width: 100%;
}
.about-header__item{
	flex: 1;
}
.about-header__title{
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 24px;
	width: 380px;
}
.about-header__info{
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 20px;
	width: 312px;
}
.about-header__actions{
	display: flex;
	flex-wrap: wrap;
}
.about-header__actions a{
	margin: 10px 4px;
}
.about-mision,
.about-vision{
	display: flex;
	height: 420px;
	background-color: #fff;
	flex-wrap: wrap;
}
.home-customs__other,
.home-transporter__other{
	height: 420px;
	background-color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-mision__info,
.about-vision__info{
	flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}
.about-mision__info div,
.about-vision__info div{
	max-width: 312px;
	width: 90%;
	margin: auto;
	text-align: left;
}
.about-mision__info p,
.about-vision__info p{
	color: #9b9b9b;
	font-size: 20px;
}
.about-mision__info hr,
.about-vision__info hr{
  border: solid 2px #3aa6a2;
  margin: 30px 0px;
  width: 60px;
}
.about-mision__info p:first-child,
.about-vision__info p:first-child{
	color: #4a4a4a;
	font-size: 30px;
}
.about-mision__image,
.about-vision__image{
	background-image: url(/images/about_vision.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}
.about-mision__image{
	background-image: url(/images/about_mision.png);
}
@media only screen and (max-width: 700px) {
	.about-mision, 
	.about-vision{
		height: auto;
		padding: 20px 0px;
	}
	.about-mision__info, 
	.about-vision__info{
		flex: auto;
		width: 100%;
	}
	.about-mision__image, 
	.about-vision__image{
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	.about-header__container{
		 padding: 60px 20px;
	}
	.about-header__title, 
	.about-header__info{
		width: auto;
	}
}