body, html, main{
	height: 100%;
	width: 100%;
  background-color: #f5fcfc;
}
body.overflow-hidden{
  overflow: hidden;
}
main{
  height: calc(100% - 60px);
  width: calc(100% - 170px);
  display: flex;
  margin-left: auto;
}
.container{
	overflow: auto;
	height: calc(100% - 20px);
	flex: 1;
	padding: 10px;
}
.table-container{
	width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.table{
	width: 100%;
  background-color: #fff;
}
.table-head{
  background-color: #89cac7;
}
.table-head th {
  padding: 10px 18px;
  background-color: #89cac7;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.table-body tr{
  cursor: pointer;
}
.table-body tr:hover{
  background-color: #f3f3f3;
}
.table-body tr td{
  padding: 10px 18px;
  text-align: center;
  border: solid 1px #e6e6e6;
  font-size: 14px;
  color: #9b9b9b;
}
.btn{
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 240px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #89cac7;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
}
input[type='text']{
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 0px 4px;
  font-size: 16px;
  color: #4a4a4a;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox] + label{
  cursor: pointer;
  display: flex;
}
.checkbox input[type=checkbox] + label .checkbox__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 2px solid #cbcaca;
  border-radius: 50%;
  margin-right: 4px;
}
.checkbox input[type=checkbox] + label .checkbox__icon .checkbox__dot{
  width: 8px;
  height: 8px;
  display: none;
  background-color: #89cac7;
  border-radius: 50%;
}

.checkbox input[type=checkbox]:checked + label .checkbox__icon .checkbox__dot{
  display: block;
}
.avatar {
  margin: 10px;
  -webkit-box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  -moz-box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  width: 42px;
  height: 42px;
  border: 2px solid #5fb8b5;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: #d8e5e4;
  background-repeat: no-repeat;
}
.header__eyelash {
  height: 60px;
  color: #fff;
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: #fff;
  min-width: 300px;
}
.header__eyelash p{
  color: #4a4a4a;
  font-weight: 500;
}
.select2-container--default .select2-selection--single{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 0px 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 16px;
  color: #4a4a4a;
}