body, html, main{
	height: 100%;
	width: 100%;
  background-color: #f5fcfc;
}
body.overflow-hidden{
  overflow: hidden;
}
main{
  height: calc(100% - 60px);
  width: calc(100% - 170px);
  display: flex;
  margin-left: auto;
}
.container{
	overflow: auto;
	height: calc(100% - 20px);
	flex: 1;
	padding: 10px;
  position: relative;
}
.table-container{
	width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.table{
	width: 100%;
  background-color: #fff;
  min-width: 950px;
}
.table-head{
  background-color: #89cac7;
}
.table-head th {
  padding: 10px 18px;
  background-color: #89cac7;
  color: #fff;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
.table-body tr{
  cursor: pointer;
}
.table-body tr:hover{
  background-color: #f3f3f3;
}
.table-body tr td{
  padding: 10px 18px;
  text-align: center;
  border: solid 1px #e6e6e6;
  font-size: 14px;
  color: #9b9b9b;
  vertical-align: middle;
}
.btn{
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 240px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #89cac7;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
  -webkit-appearance: none;
  appearance: none;
}
input[type='text']{
  width: calc(100% - 8px);
  height: 30px;
  border: 0px;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 0px 4px;
  font-size: 16px;
  color: #4a4a4a;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox] + label{
  cursor: pointer;
  display: flex;
}
.checkbox input[type=checkbox] + label .checkbox__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 2px solid #cbcaca;
  border-radius: 50%;
  margin-right: 4px;
}
.checkbox input[type=checkbox] + label .checkbox__icon .checkbox__dot{
  width: 8px;
  height: 8px;
  display: none;
  background-color: #89cac7;
  border-radius: 50%;
}
.checkbox input[type=checkbox]:checked + label .checkbox__icon .checkbox__dot{
  display: block;
}
.checkbox input[type=radio] {
  display: none;
}
.checkbox input[type=radio] + label{
  cursor: pointer;
  display: flex;
}
.checkbox input[type=radio] + label .checkbox__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 2px solid #cbcaca;
  border-radius: 50%;
  margin-right: 4px;
}
.checkbox input[type=radio] + label .checkbox__icon .checkbox__dot{
  width: 8px;
  height: 8px;
  display: none;
  background-color: #89cac7;
  border-radius: 50%;
}

.checkbox input[type=radio]:checked + label .checkbox__icon .checkbox__dot{
  display: block;
}
.avatar {
  margin: 10px;
  -webkit-box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  -moz-box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  box-shadow: 5px 2px 5px 0px rgba(28,131,131,1);
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  border: 2px solid #5fb8b5;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: #d8e5e4;
  background-repeat: no-repeat;
  background-image: url(/images/user_placeholder.png);
}
.header__eyelash {
  height: 60px;
  color: #fff;
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: #fff;
  min-width: 300px;
}
.header__eyelash p{
  color: #4a4a4a;
  font-weight: 500;
}
.new-dropdown__container{
  position: relative;
}
.select2-container--default .select2-selection--single{
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 0px 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 16px;
  color: #4a4a4a;
}
.ucargo-modal{
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  width: auto;
}
.ucargo-modal__closed {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 10px;
}
.ucargo-modal__title{
  font-size: 16px;
  font-weight: 500;
  color: #9b9b9b;
  margin-bottom: 20px
}
.ucargo-modal__actions{
  margin-top: 20px;
}
.ship-map{
  width: calc(100% - 580px);
  height: 593px;
  background-color: #d8d8d8;
  position: absolute;
  right: 10px;
  top: 90px;
  height: calc(100% - 80px);
}
.fixed-ship__map{
  position: fixed;
  top: 70px;
  right: 10px;
  width: calc(100% - 750px);
}
.map-fab{
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background-color: #3aa6a2;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  position: relative;
  line-height: normal;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.map-fab i{
  color: #fff;
}
@media only screen and (max-width: 1200px) {
 .ship-map{
  max-width: 445px;
 }
}
@media only screen and (max-width: 1130px) {
 .header__eyelash{
  display: none;
 }
 .shell-header{
  padding: 10px 0px;
 }
}
@media only screen and (max-width: 1100px) {
  .ship-map,
  .fixed-ship__map{
    min-width: 346px;
  }
}
@media only screen and (max-width: 1024px) {
 main{
  width: 100%;
 }
 .ship-map{
    width: calc(100% - 580px);
  }
}
@media only screen and (max-width: 910px) {
  .ship-map{
    display: none;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
    left: 0px;
    max-width: 100% !important;
  }
  .map-fab{
    display: flex;
  }
  .shell-header{
    justify-content: center !important;
  }
}
@media only screen and (max-width: 600px) {
 div.header-title{
  display: none;
 }
}