.import-container{
  background-color: #f3f3f3;
  min-height: 10px;
  box-shadow: 0 2px 4px 0 rgba(155, 155, 155, 0.64);
}
.import-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.import-header__new .btn{
  height: 42px;
  background-color: #3aa6a2;
}
.import-content{
  background-color: #fff;
  margin-bottom: 10px;
}
.import-content form{
  width: 522px;
  padding: 14px;
}
.import-news {
  display: flex;
  flex-direction: column;
}
.import-news__item {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  margin-top: 10px;
}
.news-item__title{
  font-size: 16px;
  color: #89cac7;
}
.new-field {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 6px 0px;
}
.new-field__group-two {
  flex: 1;
  display: flex;
  position: relative;
}
.new-field__group {
  flex: 1;
  width: 100%;
  margin: 0px 5px;
  position: relative;
  padding-top: 20px;
}
.new-field__title{
  position: absolute;
  top: 0;
  margin: 0px;
  font-size: 14px;
  color: #9b9b9b;
}
.new-field__container{
  width: 100%;
  position: relative;
}
.picker-container .flatpickr-wrapper{
  width: 100%;
}
.picker-container .flatpickr-calendar .flatpickr-day.selected,
.picker-container .flatpickr-calendar .flatpickr-day.startRange,
.picker-container .flatpickr-calendar .flatpickr-day.endRange,
.picker-container .flatpickr-calendar .flatpickr-day.selected.inRange,
.picker-container .flatpickr-calendar .flatpickr-day.startRange.inRange,
.picker-container .flatpickr-calendar .flatpickr-day.endRange.inRange,
.picker-container .flatpickr-calendar .flatpickr-day.selected:focus,
.picker-container .flatpickr-calendar .flatpickr-day.startRange:focus,
.picker-container .flatpickr-calendar .flatpickr-day.endRange:focus,
.picker-container .flatpickr-calendar .flatpickr-day.selected:hover,
.picker-container .flatpickr-calendar .flatpickr-day.startRange:hover,
.picker-container .flatpickr-calendar .flatpickr-day.endRange:hover,
.picker-container .flatpickr-calendar .flatpickr-day.selected.prevMonthDay,
.picker-container .flatpickr-calendar .flatpickr-day.startRange.prevMonthDay,
.picker-container .flatpickr-calendar .flatpickr-day.endRange.prevMonthDay,
.picker-container .flatpickr-calendar .flatpickr-day.selected.nextMonthDay,
.picker-container .flatpickr-calendar .flatpickr-day.startRange.nextMonthDay,
.picker-container .flatpickr-calendar .flatpickr-day.endRange.nextMonthDay{
  background: #3aa6a2;
  border-color: #3aa6a2;
}
.new-field__container select{
  width: 100%;
}
.new-field__container input[type=text]{
  margin: 0;
}
.import-news__help{
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 100;
  float: right;
}
.import-news__send{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}
.import-checkbox__text{
  color: #9b9b9b;
  font-size: 14px;
}
.import-news__send button{
  background-color: #3aa6a2;
}

@media only screen and (max-width: 910px) {
 .import-content form{
  margin: auto;
 }
}
@media only screen and (max-width: 600px) {
 .new-field__group{
  width: 100%;
  margin-top: 5px;
 }
 .new-field{
  flex-direction: column;
 }
 .import-content form{
  width: calc(100% - 28px);
 }
 .import-news__send{
  flex-direction: column;
 }
 .import-news__send .checkbox{
  margin-bottom: 10px;
 }
}