.profile-container{
	background-color: #fff;
	min-height: 10px;
	box-shadow: 0 2px 4px 0 rgba(155, 155, 155, 0.64);
}
.profile-user{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 800px;
  padding: 40px 0px;
}
.profile-avatar{
  flex: 1;
  cursor: pointer;
}
.profile-avatar__image{
  width: 131px;
  height: 131px;
  margin-bottom: 20px;
}
.profile-info__user{
  flex: 2;
}
.profile-info__data{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.profile-info__extra{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-info__container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-help{
  font-size: 16px;
  text-align: left;
  color: #89cac7;
  margin-top: 40px;
}
.profile-help span{
  font-weight: bold;
}
.profile-address{
  font-size: 16px;
  text-align: left;
  color: #9b9b9b;
}
.profile-name,
.profile-rfc{
  font-size: 20px;
  text-align: left;
  color: #9b9b9b;
  margin-bottom: 10px;
}
.profile-cal{
  font-size: 16px;
  text-align: left;
  color: #9b9b9b;
  margin-top: 20px;
}
.profile-cal span{
  margin-top: 10px;
  display: block;
}
.profile-cal i{
  font-size: 18px;
  color: #3aa6a2;
}
.profile-info p{
  font-size: 16px;
  text-align: left;
  color: #9b9b9b;
}
.profile-info__email,
.profile-info__phone{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
}
.profile-info__email img{
  width: 16px;
  margin-right: 4px;
}
.profile-info__phone img{
  width: 18px;
  margin-right: 4px;
}
.change-avatar{
  font-size: 16px;
  text-align: center;
  color: #9b9b9b;
  margin-left: 10px;
  display: block;
  width: 131px;
}
#avatar{
  display: none;
}
@media only screen and (max-width: 900px) {
 .profile-user{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .profile-info__user{
  margin-top: 40px;
 }
 .profile-info__extra,
 .profile-info__container{
  align-items: center;
 }
 .profile-cal,
 .profile-address,
 .profile-help{
  text-align: center;
 }
}
@media only screen and (max-width: 600px) {
  .profile-info__data{
    flex-direction: column;
  }
  .profile-info__container{
    margin-top: 40px;
  }
}
