.record-container{
  background-color: #f3f3f3;
  min-height: 10px;
  box-shadow: 0 2px 4px 0 rgba(155, 155, 155, 0.64);
}
.record-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.record-header__new .btn{
  height: 42px;
  background-color: #3aa6a2;
}
.record-table__td{
  color: #4a4a4a !important;
  font-weight: 500;
}
.record-table__td--IMPORTACIÓN{
  color: #4a90e2  !important;
}
.record-table__td--EXPORTACIÓN{
  color: #7ed321 !important;
}
.record-content{
  margin-bottom: 10px;
}