/* Header */
header{
  height: 70px;
  background-color: #f3f3f3;
  padding-left: 170px;
  box-shadow: 0 2px 2px 0 rgba(155, 155, 155, 0.56);
}
.header-content{
  padding: 0px 18px;
  display: flex;
  height: 100%;
}
.header-brand{
  height: 70px;
  width: 170px;
  background-color: #3aa6a2;
  display: flex;
  align-items: center;
}
.header-brand img{
  height: 25px;
  position: relative;
  left: 20px;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title p{
  font-size: 16px;
  font-weight: 500;
  color: #9b9b9b;
}
.header-info {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.header-info__user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-info__name {
  font-size: 16px;
  color: #9b9b9b;
  margin-left: 10px;
  display: block;
}
.header-info__calification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px;
  flex-direction: column;
}
.info-calification__title {
  font-size: 16px;
  color: #9b9b9b;
}
.info-calification__score i{
  color: #3aa6a2;
  font-size: 8px;
}
.header-info__extras {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
.header-info__extras a{
  text-decoration: none;
  color: #9b9b9b;
  margin: 0px 10px;
}
.header-info__extras a img{
  height: 14px;
}
/*Nav*/
nav{
	height: 100%;
  width: 170px;
  background-color: #3aa6a2;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav-content{
	height: calc(100% - 70px);
	width: 100%;
	overflow: auto;
}

.nav-content__item{
	height: 60px;
	width: 100%;
	position: relative;
  border-top: 1px solid #fff;
}
.nav-content__item:last-child{
  border-bottom: 1px solid #fff;
}
.nav-content__item.active{
  background-color: #1c8482;
}

.nav-content__item a{
	width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.nav-content__item a p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  position: relative;
  left: 20px;
}