<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Planificación</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/ie.css">
      <link rel="stylesheet" href="/fonts/styles.css">
      <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   </head>
   <body class="overflow-hidden">
      <div class="overview"></div>
      <header>
         <div class="header-content">
            <div class="header-nav__button">
               <i class="fas fa-bars"></i>
            </div>
            <div class="header-title">
               <p>SHIPMENT MANAGER</p>
            </div>
            <div class="header-info">
               <div class="header-info__user">
                  <div class="header-info__avatar avatar" style="background-image: url(/images/user_placeholder.png);"></div>
                  <p class="header-info__name">
                     STEREN S.A. DE C.V.
                  </p>
               </div>
               <div class="header-info__calification">
                  <p class="info-calification__title">Calificación</p>
                  <div class="info-calification__score">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
               <div class="header-info__extras">
                  <a href="">
                     <img src="/images/logout.png" alt="">
                  </a>
                  <a href="">
                     <img src="/images/help.png" alt="">
                  </a>
               </div>
            </div>
         </div>
      </header>
      <nav>
         <div class="header-brand">
            <a href="">
               <img src="/images/header_brand.png" alt="">
            </a>
         </div>
         <ul class="nav-content">
            <li class="nav-content__item active">
               <a onclick="navigate('/plannings');">
                  <p id="ship_list">Cotizaciones</p>
               </a>
            </li>
            <li class="nav-content__item">
               <a onclick="navigate('/assignments/plannings');">
                  <p>Asignados & <br/>Seguimiento</p>
               </a>
            </li>
            <li class="nav-content__item">
               <a onclick="navigate('/records');">
                  <p>Historial & <br/>Facturas</p>
               </a>
            </li>
            <li class="nav-content__item">
               <a onclick="navigate('/favouritedrivers');">
                  <p>Favoritos</p>
               </a>
            </li>
         </ul>
      </nav>
      <main>
         <%= render @view_module, @view_template, assigns %>
      </main>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
      <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAQx3-uP6nXnMkvzZjRnUlcYCb8JaeEndg"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/l10n/es.js"></script>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
   </body>
</html>

<script type="text/javascript">
  function navigate(url){
    console.log("noe is the house")
    document.location.href = url;
    var url = window.location.href;
    console.log(url)
    

  }
</script>