<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Planificación</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   </head>
   <body>
      <header>
         <div class="headerBrand">
            <img src="https://private.cargobot.io/bundles/app/img/logo-header.png" alt="">
         </div>
         <div class="headerInfo">
            <p class="headerCredit">Crédito : $ 15,000</p>
            <div class="headerUser">
               <i class="fas fa-power-off"></i>
               <div class="headerUserAvatar" style="background-image: url(https://api.adorable.io/avatars/285/abott@adorable.png)"></div>
               <div class="headerUserInfo">
                  <p class="headerUserName">Name Surname Surname</p>
                  <p class="headerUserTime">February 6th 2018, 9:48:21 am</p>
               </div>
            </div>
         </div>
      </header>
      <%= render @view_module, @view_template, assigns %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
   </body>
</html>