<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Ucargo</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
   <link rel="stylesheet" href="/fonts/styles.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
   <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body>
   <header class="intro-header" id="intro-header">
      <div class="intro-header__extra">
         <div class="intro-header__contact">
            <div class="header-contact__section">
               <img src="/images/email_icon.png" alt="">
               <p>contacto@ucargo.com.mx</p>
            </div>
            <div class="header-contact__section">
               <img src="/images/call_icon.png" alt="">
               <p>llamar a soporte</p>
            </div>
         </div>
         <div class="intro-header__login">
            <p class="header-login__section">llamar a soporte<a href="">Inicia Sesión</a></p>
            <p class="header-login__section">¿Aun no eres miembro?<a href="">Regístrate</a></p>
         </div>
      </div>
      <div class="intro-header__nav">
         <div class="intro-header__brand">
            <img src="/images/header_brand.png" alt="">
            <div class="intro-header__button">
               <i class="fas fa-bars"></i>
            </div>
         </div>
         <nav>
            <ul>
               <li><a href="">Inicio</a></li>
               <li><a href="">Sobre Nosotros</a></li>
               <li><a href="">Agencias Aduanales y/o de carga</a></li>
               <li><a href="">Transportistas</a></li>
               <li><a href="">Preguntas Frecuentes</a></li>
            </ul>
         </nav>
      </div>
   </header>
   <main id="intro-container">
      <%= render @view_module, @view_template, assigns %>
   </main>
   <footer>
      <div class="intro-footer__banner">
         <div class="footer-banner__message">
            <p>Regístrate sin costo hoy mismo.</p>
         </div>
         <div class="footer-banner__actions">
            <a href="" class="btn">AGENCIAS</a>
            <a href="" class="btn">TRANSPORTISTAS</a>
         </div>
      </div>
      <div class="intro-footer__info">
         <div class="footer-info__section">
            <img class="footer-brand" src="/images/footer_brand.png" alt="">
            <p class="footer-title">Inovando la manera de mover tu carga, siempre segura.</p>
            <p class="footer-slogan">Benjamín Franklin 125, Interior 2, Condesa, Cuauhtémoc, 06100 CDMX, Mexico.</p>
            <p class="footer-copy">Copyright 2018 UCARGO</p>
         </div>
         <div class="footer-info__section">
            <nav class="footer-nav" id="footer-nav">
               <ul>
                  <li><a href="">Agentes</a></li>
                  <li><a href="">Transportistas</a></li>
                  <li><a href="">Preguntas frecuentes</a></li>
                  <li><a href="">Términos y condiciones de uso</a></li>
                  <li><a href="">Aviso de privacidad</a></li>
               </ul>
            </nav>
         </div>
         <div class="footer-info__section">
            <div class="footer-social">
               <a href="" class="footer-social__item">
                  <i class="fab fa-facebook"></i>
               </a>
               <a href="" class="footer-social__item">
                  <i class="fab fa-linkedin-in"></i>
               </a>
               <a href="" class="footer-social__item">
                  <i class="fab fa-twitter"></i>
               </a>
            </div>
            <div class="footer-message">
               <a class="btn" href="">MÁNDANOS UN MENSAJE</a>
            </div>
         </div>
      </div>
   </footer>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
   <script>
      $('.testimonies-items').slick({
         arrows: false,
         fade: true,
         dots: true
      })
      $('.intro-header__button').click(function(){
         $('#intro-header nav').toggleClass('intro-show__nav')
      })

      $('.faq-content__item-title').click(function(){
         const next = $(this).next('.faq-content__item-text')
         if(next.hasClass('show-faq')){
            $('.faq-content__item-text').removeClass('show-faq')
         }else{
            $('.faq-content__item-text').removeClass('show-faq')
            next.addClass('show-faq')
         }
      })
   </script>
   <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>